/*reset de configuracion de la pagina*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*estilos del body en todas las paginas*/
body {
  background-image: url("../images/font_1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
body.font {
  overflow: none;
}
.header {
  height: 100%;
  display: flex;
}
#form .form-group #image {
  width: 200px;
}
#form .form-group #image .file_thumbnail {
  position: relative;
  width: 120px;
  height: 120px;
  display: inline-flex;
  vertical-align: middle;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
#form .form-group #image .file_thumbnail .close-image {
  width: 20px;
  height: 20px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
}
.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.header-video video {
  min-width: 100%;
  min-height: 100%;
}
.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #393939;
  z-index: 1;
  opacity: .85;
}
div.form_r{
  background: rgba(18, 137, 167, 0.5);
  border-style: double;
  width: 800px;
  height: 600px;
  margin: 10px auto;
  border: 1px solid rgba(18, 203, 196, 0.5);
  box-shadow: inset 0 0 10px #000000;
  --color: #ffffff;
  z-index: 2;
  overflow: hidden;
}
div.form_r .row{
  margin: 2px;
  display: inline-block;
}
div.form_r form{
  width: 90%;
  margin: 5px auto;
}
div.form_r_l {
  background: rgba(18, 137, 167, 0.5);
  border-style: double;
  width: 300px;
  height: 300px;
  margin: 100px auto;
  border: 1px solid rgba(18, 203, 196, 0.5);
  box-shadow: inset 0 0 10px #000000;
  --color: #ffffff;
  z-index: 2;
}
div.form_r_l form{
  width: 90%;
  margin: 5px auto;
}
div.form_r_l .row{
  margin: 2px;
  display: inline-block;
}
form h1.register {
  color: var(--color);
  text-align: center;
  font-weight:normal;
  font-size: 40pt;
  margin: 30px 0px;
  font-family: 'Pinyon Script', cursive;
}
form h1.login {
  color: var(--color);
  text-align: center;
  font-weight:normal;
  font-size: 30pt;
  margin: 20px 0px;
  font-family: 'Pinyon Script', cursive;
}
form p.confirm{
  color: var(--color);
}
form #file_update {
  width: 180px;
  height: 80px;
  color: #ffffff;
}
p.copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 50px;
  z-index: 2;
}
 form .space {
  width: 240px;
  height: 35px;
  border: 3px solid rgba(#000000, 0.34);
  border-radius: 7px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 10px 0px 30px 20px;
}
form .space_l {
 width: 240px;
 height: 35px;
 border: 3px solid rgba(#000000, 0.34);
 border-radius: 7px;
 font-family: "Times New Roman", Times, serif;
 text-align: center;
 margin: 2px 0px 10px 10px;
}
div.form-group {
  --bg: 100px;
  background-image: url("../images/img.png");
  margin: 10px 0px 2px 100px;
  background-size: var(--bg);
  background-repeat: no-repeat;
  width: 800px;
  transition: 0.5s;
  display: inline-flex;
}
div.form-group .text {
  width: 100px;
}
div.form-group .text #file_update{
  display: inline-block;
}
form div.form-group .upload {
 color: var(--white);
 margin: 5px;
 width: 280px;
 height: 100px;
 display:inline-flex;
}
input[type="file"] {
  width: 100px;
  height: 100px;
  cursor: pointer;
  opacity: 0;
}
form select{
  width: 235px;
  height: 35px;
  border: 3px solid rgba(#000000, 0.34);
  border-radius: 7px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 10px 0px 30px 23px;
}
form .space:hover{
  border-color:#ffffff;
}
form .size {
  display: inline-block;
  margin: 5px 50px;
  width: 90px;
  height: 40px;
  background: rgb(18, 203, 196);
  background: -moz-linear-gradient(top, rgb(18, 203, 196) 0%, rgb(18, 137, 167) 100%);
  background: -webkit-linear-gradient(top, rgb(18, 203, 196) 0%,rgb(18, 137, 167) 100%);
  background: linear-gradient(to bottom, rgb(18, 203, 196) 0%,rgb(18, 137, 167) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12CBC4', endColorstr='#1289A7',GradientType=0 );
  border: 1px solid #006266;
  color: #ffffff;
  box-shadow: 0px 2px 0px #000000;
  -moz-box-shadow: 0px 2px 0px #000000;
  -webkit-box-shadow: 0px 2px 0px #000000;
  border-radius: 3px;
}
form .boton {
  margin: 5px auto;
  width: 135px;
  height: 40px;
  background: rgb(18, 203, 196);
  background: -moz-linear-gradient(top, rgb(18, 203, 196) 0%, rgb(18, 137, 167) 100%);
  background: -webkit-linear-gradient(top, rgb(18, 203, 196) 0%,rgb(18, 137, 167) 100%);
  background: linear-gradient(to bottom, rgb(18, 203, 196) 0%,rgb(18, 137, 167) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12CBC4', endColorstr='#1289A7',GradientType=0 );
  border: 1px solid #006266;
  color: #ffffff;
  box-shadow: 0px 2px 0px #000000;
  -moz-box-shadow: 0px 2px 0px #000000;
  -webkit-box-shadow: 0px 2px 0px #000000;
  border-radius: 3px;
}

form input.boton:hover {
  background: #12CBC4;
}
form .size:hover {
  cursor: pointer;
  background: #12CBC4;
}
form input.btn_login:active {
  background: rgb(42,40,40);
  background: -moz-linear-gradient(top, rgb(42,40,40) 0%, rgb(60,60,60) 100%);
  background: -webkit-linear-gradient(top, rgb(42,40,40) 0%,rgb(60,60,60) 100%);
  background: linear-gradient(to bottom, rgb(42,40,40) 0%,rgb(60,60,60) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2828', endColorstr='#3c3c3c',GradientType=0 );
}
form div.btn_login:active {
  background: rgb(42,40,40);
  background: -moz-linear-gradient(top, rgb(42,40,40) 0%, rgb(60,60,60) 100%);
  background: -webkit-linear-gradient(top, rgb(42,40,40) 0%,rgb(60,60,60) 100%);
  background: linear-gradient(to bottom, rgb(42,40,40) 0%,rgb(60,60,60) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2828', endColorstr='#3c3c3c',GradientType=0 );
}
form input.boton:active {
  background: rgb(42,40,40);
  background: -moz-linear-gradient(top, rgb(42,40,40) 0%, rgb(60,60,60) 100%);
  background: -webkit-linear-gradient(top, rgb(42,40,40) 0%,rgb(60,60,60) 100%);
  background: linear-gradient(to bottom, rgb(42,40,40) 0%,rgb(60,60,60) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2828', endColorstr='#3c3c3c',GradientType=0 );
}
form div.return > p{
  text-align: center;
  position: relative;
}
form .return {
  display: inline-table;
  width: 800px;
  height: 100px;
}
form .return_l {
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 80px;
}
form .row_text{
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 10px;
}
form .taker {
  display: inline-table;
  width: 200px;
  align-items: center;
}
form .taker_l {
  width: 200px;
  height: 60px;
  align-items: center;
  margin: 5px auto;
}
form input#archive{
  width: 100%;
}
div.vacio{
  width: 100%;
  height: 600px;
  transition: 1.5s;
}
.preload{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left:0;
  z-index: 1;
  overflow: hidden;
}
.logo{
  width: 300px;
  height: 70px;
  margin: 150px auto 50px auto;
  font-size: 50px;
  text-shadow: -1px 2px 2px #000000;
  text-align: center;
}
.loader-frame{
  width: 70px;
  height: 70px;
  margin: auto;
  position: relative;
}
.loader_1, .loader_2{
  position: absolute;
  border:  5px solid transparent;
  border-radius: 50%;
}
.loader_1{
  width: 70px;
  height: 70px;
  border-top:  5px solid #1289A7;
  border-bottom: 5px solid #1289A7;
  animation: loader 2s linear 3;
}
.loader_2{
  width: 60px;
  height: 60px;
  border-left: 5px solid #12CBC4;
  border-right: 5px solid #12CBC4;
  top: 5px; left: 5px;
  animation: invert-loader 2s linear 3;
}div.vacio{
  width: 100%;
  height: 600px;
  transition: 1.5s;
}
div.vacio:hover{
background-color: rgba(0, 0, 0, 0.53);
transition: 1.5s;
}
}div.load_vacio{
  width: 100%;
  transition: 1.5s;
}
div.load_vacio:hover{
background-color: rgba(0, 0, 0, 0.53);
transition: 1.5s;
}
div#container{
  width: 100%;
  height: 1200px;
  background-color: #ffffff;
  border-radius: 7px;
}
div#body{
  width: 960px;
  height:1000px;
  margin: auto;
  text-align: center;
}
div#menu{
  width: 100%;
  position: fixed;
}
div#particles-js{
  width: 100%;
}
div#fb-comment {
  text-align: center;
  background-color: #ffffff;
}
div#video{
  width: 100%;
}
div#img-3{
  text-align: right;
}
img#img-4{
  width: 20%;
  transition: 1s;
}
img#img-4:hover{
  width: 25%;
  transition: 1s;
}
p.text_p {
  text-align: left;
}
video#vcs_1{
  width: 100%;
}
.btn-primary {
  margin: 5px 5px 5px 5px;
}
@keyframes loader {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@keyframes invert-loader {
  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}
@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}
@media only screen and (min-width: 450px) and (max-width: 690px) {
  div#body{
    width: 470px;
    height:1000px;
  }
  body {
    background-size: 100% 100%;
  }
}
@media only screen and (max-width: 450px) {
  div#body{
    width: 235px;
    height:1000px;
  }
  body {
    background-image: url(../img/bg-2.jpg);
  }
}
